.issue-detail-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("/assets/paper-bg.jpg") repeat;
  background-size: cover;
  padding: 24px;
  margin: 0px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  background-color: #fffdf5;
  padding: 24px 28px;
  border-radius: 12px;
  border: 1px solid #d6c6a5;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  position: relative;
  font-family: "Georgia", "Times New Roman", serif;
}


